/* Main colors */
:root {
    --dark-blue: #020242;
    --bright-green: #67E5BF;
    --pink-purple: #A675F4;
    --main-white: #FAFAFA;
}

* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 8px;
    color: var(--dark-blue);
    margin: 0;
}

body {
    background-color: var(--main-white);
}

/* Navigatie balk die opdezelfde plek blijft staan + grid */
nav, .nav-campus {
    background-color: var(--dark-blue);
    border-radius: .5em;
    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr .1fr;
    gap: 1em;
    position: sticky;
    top: 0;
    z-index: 5;
    margin: 15px 15px 40px 15px;
}

/* Logo */
nav a.hva-logo {
    grid-column: 1;
    align-self: center;
    justify-self: center;
}

/* Logo afmetingen van afbeelding */
nav a.hva-logo img {
    width: 3.5em;
    filter: invert(77%) sepia(82%) saturate(281%) hue-rotate(98deg) brightness(97%) contrast(85%);
    margin-left: 0.5em;
    margin-bottom: -0.5em;
}

/* Vormgeving link studenten en campus */
span.buttons-nav {
    text-decoration: none;
    color: var(--dark-blue);
    font-weight: 650;
    font-size: .5em;
    padding: 1em 1em;
    height: 80%;
    gap: 10px;
    display: flex;
}


/* Afmeting link studenten en campus */
span.buttons-nav img {
    filter: invert(5%) sepia(53%) saturate(6239%) hue-rotate(219deg) brightness(91%) contrast(103%);
    width: 1.3em;
    margin-right: .5em;
}

/* Vormgeving link studenten */
nav a.button-studenten {
    background-color: var(--bright-green);
    border-radius: .4em;
    grid-column: 2;
    align-self: center;
    justify-self: center;
    /* width: 100%; */
    text-align: center;
    text-decoration: none;
    padding: 0.7em 1em 0.7em 1em;
    font-size: 1.8em;
    align-items: center;
    margin-left: 0em;
}

/* Vormgeving link campus */
nav a.button-campus {
    background-color: var(--pink-purple);
    border-radius: .4em;
    grid-column: 2;
    align-self: center;
    justify-self: center;
    /* width: 100%; */
    text-align: center;
    text-decoration: none;
    padding: 0.7em 1em 0.7em 1em;
    font-size: 1.8em;
    align-items: center;
}

span.buttons-nav{
    margin: auto;
}

/* Vormgeving en positionering header */
header {
    text-align: center;
    line-height: 2em;
    display: flex;
    flex-direction: column;
      overflow: hidden;
}

header h3 {
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 1em;
}

header h1 {
    font-size: 3em;
    font-weight: 800;
    padding-bottom: 0.7em;
}

header p {
    line-height: 1.8em;
    width: 80vw;
    margin: auto;
    position: relative;
    z-index: 1;
}

header img.banner-image {
    width: 150%;
    object-fit: contain;
    z-index: -1;
    align-self: center;
}

/* BUTTONS BANNER */

.buttons-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  gap: 10px;
  padding-bottom: 30px;
  padding-top: 2em;
}

/* SQUAD BUTTON */

a.squad {
  background-color: #A675F4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: none;
  align-items: center;
  border-radius: 8px;
  padding: 0.7em 1em 0.7em 1em;
  font-size: 1em;
  font-family: 'Open Sans';
  color: #050542; 
  text-decoration: none;
  gap: 10px;
}

a.squad img {
  width: 15px;
  height: 15px;
}

/* CAMPUS BUTTON */

a.campus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: none;
  height: 55px;
  align-items: center;
  border-radius: 8px;
  padding: 0.7em 1em 0.7em 1em;
  font-family: 'Open Sans';
  font-size: 1em;
  color: #050542; 
  text-decoration: none;
  gap: 10px;
}

a.campus img {
  width: 15px;
  height: 15px;
}

/* Achtergrond kleur en positionering element met alle cards van studenten */
main {
    background-color: var(--dark-blue);
    border-radius: .5em;

    width: 100%;

    text-align: center;
}

/* Vormgeving en positionering zoek balk  */
main input {
    background-color: var(--bright-green);
    border-style: none;
    padding: 1em;
    border-radius: .5em;
    width: 20em;
    margin-top: 3em;

    background-image: url('../assets/julia/svg-icons/search.svg');
    background-repeat: no-repeat;
    background-position: right 1em bottom 1.2em;
    backdrop-filter: invert(5%) sepia(53%) saturate(6239%) hue-rotate(219deg) brightness(91%) contrast(103%);
    background-size: 1.5em;
}

/* Kleur tekst zoekbalk */
input::placeholder {
    color: var(--dark-blue);
}

/* Grid met alle cards */
#myUL {
    margin: 0;
    padding: 0;
    list-style-type: none;

    padding-bottom: 3em;

    margin-top: 2em;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24em, 1fr));
    grid-auto-flow: dense;
    row-gap: 2em;
}

/* Vormgeving en positionering van een card met grid */
li {
    font-size: 4px;
    /* 1em is nu ...px */

    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1em 22em 1em;
    grid-template-rows: 6em 15em 10em;

    margin-top: 3em;
    justify-self: center;
    align-self: start;

    position: relative;
}

li {
    font-size: 4px;
}

.main-article article {
    font-size: 5px;
}

/* Naam in card */
li>h3 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;

    background-color: var(--pink-purple);
    margin: 0;
    padding: .5em 1.5em;
    border-radius: 2em;

    justify-self: center;
    align-self: start;

    z-index: 1;

    translate: 0% -50%;
    font-size: 1em;

}

/* Afbeelding in card */
.student-card img {
    grid-column: 2 / 3;
    grid-row: 1 / 3;

    width: 100%;
    height: 100%;
    object-fit: cover;

    border-style: solid;
    border-color: var(--bright-green);
    border-radius: .5em;
    transform: rotate(90deg);
}

.rotate img {
    transform: rotate(0deg);
}

/* Positionering in grid van leeftijd, plaats en motto */
li p {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding-bottom: 2em;

    font-size: 1em;
}

/* Vormgeving van afbeeldingen van pijl */
li>a>img {
    filter: invert(5%) sepia(53%) saturate(6239%) hue-rotate(219deg) brightness(91%) contrast(103%);
    width: 1.3em;
}

/* Vormgeving en positionering van de pijl */
li>a {
    grid-column: 2/3;
    grid-row: 3/4;

    background-color: var(--bright-green);

    align-self: end;
    justify-self: end;

    padding: .5em;
    margin-bottom: 1.5em;
    margin-right: 1em;
    margin-top: 2em;
    /* height: max-content; */
    border-radius: 2em;

    width: 2.5em;
    height: 2.5em;

    text-align: center
}

/* Vormgeving leeftijd + icoon */
/* li p:nth-of-type(1) {
    margin-top: 10px;
    padding: 10px 20px 20px 15px;
    margin-right: 5px;
    grid-row-start: 3;
    grid-column-start: 2;
    color: #67E5BF;
    line-height: 25px;
} */

.student-card p:nth-of-type(1) {
    background-color: var(--bright-green);

    align-self: start;
    justify-self: start;

    padding: .2em 1em .2em 2em;
    border-radius: 2em;

    background-image: url('../assets/julia/svg-icons/student.svg');
    background-repeat: no-repeat;
    background-position: left .5em bottom .1em;
    backdrop-filter: invert(5%) sepia(53%) saturate(6239%) hue-rotate(219deg) brightness(91%) contrast(103%);
    background-size: 1.3em;

    translate: 25% -25%;
}

/* Vormgeving plaats + icoon */
.student-card p:nth-of-type(2) {
    background-color: var(--bright-green);

    align-self: start;
    justify-self: end;

    padding: .2em 1em .2em 2em;
    border-radius: 2em;

    background-image: url('../assets/julia/svg-icons/map.svg');
    background-repeat: no-repeat;
    background-position: left .5em bottom .1em;
    backdrop-filter: invert(5%) sepia(53%) saturate(6239%) hue-rotate(219deg) brightness(91%) contrast(103%);
    background-size: 1.3em;

    translate: -40% -25%;
}

.student-card p:nth-of-type(3) {
    color: var(--bright-green);
    justify-self: center;
    align-self: center;
}

/* Vormgeving en positionering pijl */
li>a {
    color: var(--bright-green);

    align-self: end;
    justify-self: end;

    font-size: 1.0em;
    text-align: start;

    margin: 1.3em 0em 2em 0em;

    background-image: url('../assets/julia/svg-icons/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: left .6em bottom .5em;
    backdrop-filter: invert(5%) sepia(53%) saturate(6239%) hue-rotate(219deg) brightness(91%) contrast(103%);
    background-size: 1.3em;
}



/* Border rondom card */
li::before {
    content: "";

    grid-column: 1 / 4;
    grid-row: 2 / 4;

    border-style: solid;
    border-color: var(--bright-green);
    border-width: 1px;
    border-radius: .5em;

    height: 100%;
}

/* HIER KOMT DE CAMPUS LISTING GRID */
/* HIER KOMT HET CAMPUS ONDERDEEL VAN DE STUDENTEN PAGINA */

.campus {
    background-color: var(--main-white);
    font-family: "Open Sans", sans-serif;

}

.campus h3 {
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 5em;
}

.campus h2 {
    font-size: 2em;
    font-weight: 800;
}

.campus a {
    font-size: 1.3em;
    margin-top: 2em;
}

.campus > a img {
    width: 1.5em;
    margin-left: 1em;
}

.campus {
    text-align: center;

}

/* Grid met micro lay-out van een campus card */
.slider-content {
    display: grid;
    grid-template-columns: 2em 20em 2em;
    grid-template-rows: 18em 1fr max-content;

    position: relative;

    margin-top: -2em;
}

/* adres */
.slider-content-locatie {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    z-index: 1;

    padding: .3em 1em .3em 2em;
    border-radius: 2em;
    background-color: var(--bright-green);

    background-image: url('../assets/julia/svg-icons/map.svg');
    background-repeat: no-repeat;
    background-position: left .5em bottom .2em;
    backdrop-filter: invert(5%) sepia(53%) saturate(6239%) hue-rotate(219deg) brightness(91%) contrast(103%);
    background-size: 1.1em;

    align-self: start;
    justify-self: start;

    translate: 0 300%;

    color: var(--dark-blue);

}

/* afbeelding */
.slider-content>img {
    grid-column: 1 / 4;
    grid-row: 1 / 2;

    width: 100%;
    height: 100%;

    border-style: solid;
    border-color: var(--dark-blue);
    border-radius: .5em;

    translate: 0 25%;
    z-index: 0;
}

/* pijl naar links */
/* .slider-content>a:nth-of-type(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    background-color: var(--dark-blue);
    padding: .75em;
    border-radius: .5em;

    align-self: center;
    justify-self: start;

    translate: -50% 100%;

} */

/* afbeeldingen van pijlen kleur aangepast */
.main-article article>a img {
    margin: 0;

    filter: invert(77%) sepia(82%) saturate(281%) hue-rotate(98deg) brightness(97%) contrast(85%);
}

/* pijl naar rechts */
/* .main-article article>a:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;

    background-color: var(--dark-blue);
    padding: .75em;
    border-radius: .5em;

    align-self: center;
    justify-self: end;

    translate: 50% 100%;
} */

/* naam van plaats op campus */
.slider-content > h4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    color: var(--bright-green);
    text-align: center;

    z-index: 1;

    padding: 2em .5em;

}

/* tekst met uitleg over campus plek */
.slider-content-tekst {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    color: var(--bright-green);

    text-align: start;
    font-size: 1em;
    padding: 0em 2em 4em 3.5em;

    align-self: start;
    justify-self: center;

    z-index: 1;

    text-align: start;
}

/* pijl naar rechts met link */
.slider-content > a:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    align-self: end;
    justify-self: end;

    
    width: 2em;
    height: 2em;
    border-radius: 4em;

    background-color: var(--bright-green);

    margin-top: 2em;
    margin-bottom: 2em;

    z-index: 1;


    translate: -50% 80%;

    background-image: url('../assets/julia/svg-icons/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: left .5em bottom .5em;
    backdrop-filter: invert(5%) sepia(53%) saturate(6239%) hue-rotate(219deg) brightness(91%) contrast(103%);
    background-size: 1em;
}

/* gekleurde border rondom tekst en titel */
.slider-content::before {
    content: "";

    width: 100%;
    height: 100%;

    grid-column: 2 / 3;
    grid-row: 2 / 4;

    background-color: var(--dark-blue);
    border-radius: .5em;
    border-style: solid;
    border-color: var(--bright-green);

    z-index: 1;
}

/* SWIPER POSITIONERING en VORMGEVING KNOPPEN */
.swiper {
    width: 100%; 
    height: max-content;

    margin-bottom: 2em;
}

.swiper-button-prev {
    background-color: var(--pink-purple);
    color: var(--bright-green); 
    border-style: none; 
    padding: 1.5em;
    border-radius: .75em;
}

.swiper-button-next {
    background-color: var(--pink-purple);
    color: var(--bright-green); 
    border-style: none; 
    padding: 1.5em;
    border-radius: .75em;
}

.swiper-button-next:after {
    font-size: 1.5em;
}

.swiper-button-prev:after {
    font-size: 1.5em;
}

.swiper-wrapper {
    padding-left: 22.5%;
}

@media screen and (min-width: 300px) {
    .swiper-wrapper {
        padding-left: 25%;
    }
}

@media screen and (min-width: 350px) {
    .swiper-wrapper {
        padding-left: 10%;
    }
}

@media screen and (min-width: 400px) {
    .swiper-wrapper {
        padding-left: 15%;
    }
}

@media screen and (min-width: 500px) {
    .swiper-wrapper {
        padding-left: 17%;
    }
}

@media screen and (min-width: 600px) {
    .swiper-wrapper {
        padding-left: 25%;
    }
}

@media screen and (min-width: 700px) {
    .swiper-wrapper {
        padding-left: 30%;
    }
}



/* MEDIA QUERY STUDENTENPAGINA */

@media screen and (min-width: 200px) {
    * {
        font-size: 10px;
    }
}

@media screen and (min-width: 250px) {
    * {
        font-size: 12px;
    }
}

@media screen and (min-width: 350px) {
    * {
        font-size: 14px;
    }
}

@media screen and (min-width: 500px) {
    * {
        font-size: 16px;
    }
}

@media screen and (min-width: 1028px) {
    * {
        font-size: 18px;
    }
}

@media screen and (min-width: 200px) {
    li {
        font-size: 5px;
    }
}

@media screen and (min-width: 250px) {
    li {
        font-size: 6px;
    }
}

@media screen and (min-width: 350px) {
    li {
        font-size: 12px;
    }
}

@media screen and (min-width: 500px) {
    li {
        font-size: 14px;
    }
}

@media screen and (min-width: 1028px) {
    li {
        font-size: 16px;
    }
}

@media screen and (min-width: 1028px) {
    li {
        font-size: 16px;
    }
}

@media screen and (min-width: 200px) {
    .main-article article {
        font-size: 5px;
    }
}

@media screen and (min-width: 250px) {
    .main-article article {
        font-size: 8px;
    }
}

@media screen and (min-width: 350px) {
    .main-article article {
        font-size: 12px;
    }
}

@media (min-width: 500px) {
    .main-article article {
        font-size: 14px;
    }
}

@media (min-width: 1028px) {
    .main-article article {
        font-size: 16px;
    }
}

/* nav buttons sizing */

@media screen and (min-width: 510px) {
   nav a.button-studenten {
    margin-left: -4em;
}
}

/* banner image studenten pagina */

@media (min-width: 600px) {
    header img.banner-image  {
    width: 75%;
    }
}

/* header studenten pagina */

@media (min-width: 600px) {
    header {
    padding-top: 40px;
    overflow:auto;
    }
}

@media (min-width: 1000px) {
    header p {
    width: 700px;
    }
}

@media (max-width: 600px) {
    header p {
    width: 600px;
    }
}

@media (max-width: 600px) {
    header p {
    width: 80%;
    }
}

@media screen and (min-width: 510px) {
   .buttons-banner {
    flex-direction: row;
}
}



/* media query campus */

/* banner image studenten pagina */

@media (min-width: 600px) {
    header.campus {
    padding-top: 40px;
    overflow:auto;
    }
}

@media (min-width: 1000px) {
    header.campus p {
    width: 700px;
    }
}

@media (max-width: 600px) {
    header.campus p {
    width: 600px;
    }
}

@media (max-width: 600px) {
    header.campus p {
    width: 80%;
    }
}

@media (min-width: 600px) {
    header.campus img  {
    width: 80%;
    }
}

/* HIER BEGINT DE CAMPUS */

.body-campus {
    background-color: var(--dark-blue);
}





/* Navigatie balk die opdezelfde plek blijft staan + grid */
.nav-campus {
    background-color: var(--bright-green);
    /* border-radius: .5em;
    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr .1fr;
    gap: 1em;
    position: sticky;
    top: 13px;
    z-index: 2;
    margin: 15px 15px 40px 15px; */
}

/* Logo */
/* nav.campus a.hva-logo {
    grid-column: 1;
    align-self: center;
    justify-self: center;
} */

/* Logo afmetingen van afbeelding */
/* nav.campus a.hva-logo img {
    width: 3.5em;
    filter: invert(77%) sepia(82%) saturate(281%) hue-rotate(98deg) brightness(97%) contrast(85%);
    margin-left: 0.5em;
    margin-bottom: -0.5em;
} */

/* Vormgeving link studenten en campus */
/* span.buttons-nav {
    text-decoration: none;
    color: var(--dark-blue);
    font-weight: 650;
    font-size: .5em;
    padding: 1em 1em;
    height: 80%;
    gap: 10px;
    display: flex;
} */


/* Afmeting link studenten en campus */
nav .button-studenten-campus img {
    filter: invert(100%) sepia(1%) saturate(3%) hue-rotate(124deg) brightness(103%) contrast(100%);
    width: 1.3em;
    margin-right: .5em;
}

/* Vormgeving link studenten */
/* .button-studenten-campus a {
    background-color: var(--dark-blue);
    color: #ffffff;
    z-index: 9; 
} */


nav a.button-studenten-campus {
    background-color: var(--dark-blue);
    color: #ffffff;
}

span.buttons-nav{
    margin: auto;
}

/* Vormgeving en positionering header campus */
.header-campus {
    text-align: center;
    line-height: 2em;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header-campus h3 {
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 1em;
    color: #ffffff;
}

.header-campus h1 {
    font-size: 3em;
    font-weight: 800;
    padding-bottom: 0.7em;
    color: #ffffff;
}

.header-campus p {
    line-height: 1.8em;
    width: 80vw;
    /* margin: auto; */
    /* position: relative; */
    z-index: 1;
    color: #ffffff;
    margin-bottom: 2em;
}

.header-campus img {
    width: 100vw;
    height: 20em;
    object-fit: cover;
    z-index: 1;
    align-self: center;
}

/* Vormgeving en positionering campus elementen */
.main-article h3 {
    font-weight: 300;
    text-transform: uppercase;
}

.main-article h2 {
    font-size: 2em;
    font-weight: 800;
}

.main-article a {
    font-size: 1.3em;
    margin-top: 2em;
}

.main-article a img {
    width: 1.5em;
    margin-left: 1em;
}

.main-article {
    /* display: flex; 
    flex-direction: column;
    align-items: center; */

    line-height: 1em;
    text-align: center;

    margin-top: 2em;

}

/* GRID CAMPUS PAGINA MET CARDS */
.campus-slider {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24em, 1fr));
    grid-auto-flow: dense;    
}

.campus-campus {
    background-color: var(--main-white);
    font-family: "Open Sans", sans-serif;

}

.campus-campus h3 {
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 5em;
}

.campus-campus h2 {
    font-size: 2em;
    font-weight: 800;
}

.campus-campus a {
    font-size: 1.3em;
    margin-top: 2em;
}

.campus-campus > a img {
    width: 1.5em;
    margin-left: 1em;
}

.campus-campus {
    text-align: center;
}

footer{
    position: relative;
    flex-wrap: wrap;
    background-color: #A675F4;
    text-align: center;
    width: 100%;
    height: 200px;
 }
 /* footer logo */
 footer a > img {
    width: 60px;
    margin-top: 40px;
    filter: invert(5%) sepia(53%) saturate(6239%) hue-rotate(219deg) brightness(91%) contrast(103%);
 }
 
 /* footer afbeedling eend */
 #duck {
    /* position: absolute;
    right: 10px;
    bottom: 10px; */
    width: 25px;
    /* margin-top: 40px; */


    transition-duration: .5s; 

    cursor: pointer;

    position: sticky;
    bottom: 0; 

    rotate: 45deg; 
    scale: 2; 
    translate: -30% 30%;

    z-index: 6; 

}


#duck.active {
    /* heen */
    rotate: 0deg;
    scale: 5; 
    translate: 8em -10em;

    position: sticky;
    bottom: 300px;    

    z-index: 6;
}

@media screen and (min-width: 300px) {
    #duck {
        font-size: 10px;
    }
}

@media screen and (min-width: 500px) {
    #duck {
        font-size:15px;
    }
}

@media screen and (min-width: 1200px) {
    #duck {
        font-size:20px;
        scale: 10; 
    }

    #duck.active {
        scale: 20; 
        translate: 35em -5em;
    }
}

 
 /* responsive eend */
  @media screen and (min-width:250px){
     footer > img {
       width: 50px;
      }
 }
 
 /* footer tekst */
 footer p {
    position:relative;
    margin-top: 40px;
    bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: small;
 }

 .campus-grid {
    margin: 0; 
    padding: 0; 

    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(24em, 1fr));
    grid-auto-flow: dense;
    row-gap: 2em;

    background-color: var(--main-white);

    padding-bottom: 2em;
}

