/* Main colors */
:root {
    --dark-blue: #020242;
    --bright-green: #67E5BF;
    --pink-purple: #A675F4;
    --main-white: #FAFAFA;
}

* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 8px;
    color: var(--dark-blue);
    margin: 0;
}

body {
    background-color: var(--main-white);
}

/* Navigatie balk die opdezelfde plek blijft staan + grid */
nav {
    background-color: var(--dark-blue);
    border-radius: .5em;
    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr .1fr;
    gap: 1em;
    position: sticky;
    top: 13px;
    z-index: 2;
    margin: 15px 15px 40px 15px;
}

/* Logo */
nav a.hva-logo {
    grid-column: 1;
    align-self: center;
    justify-self: center;
}

/* Logo afmetingen van afbeelding */
nav a.hva-logo img {
    width: 3.5em;
    filter: invert(77%) sepia(82%) saturate(281%) hue-rotate(98deg) brightness(97%) contrast(85%);
    margin-left: 0.5em;
    margin-bottom: -0.5em;
}

/* Vormgeving link studenten en campus */
span.buttons-nav {
    text-decoration: none;
    color: var(--dark-blue);
    font-weight: 650;
    font-size: .5em;
    padding: 1em 1em;
    height: 80%;
    gap: 10px;
    display: flex;
}


/* Afmeting link studenten en campus */
span.buttons-nav img {
    filter: invert(5%) sepia(53%) saturate(6239%) hue-rotate(219deg) brightness(91%) contrast(103%);
    width: 1.3em;
    margin-right: .5em;
}

/* Vormgeving link studenten */
nav a.button-studenten {
    background-color: var(--bright-green);
    border-radius: .4em;
    grid-column: 2;
    align-self: center;
    justify-self: center;
    /* width: 100%; */
    text-align: center;
    text-decoration: none;
    padding: 0.7em 1em 0.7em 1em;
    font-size: 1.8em;
    align-items: center;
    margin-left: 0em;
}

/* Vormgeving link campus */
nav a.button-campus {
    background-color: var(--pink-purple);
    border-radius: .4em;
    grid-column: 2;
    align-self: center;
    justify-self: center;
    /* width: 100%; */
    text-align: center;
    text-decoration: none;
    padding: 0.7em 1em 0.7em 1em;
    font-size: 1.8em;
    align-items: center;
}

span.buttons-nav{
    margin: auto;
}

/* Vormgeving en positionering header */
header {
    text-align: center;
    line-height: 2em;
    display: flex;
    flex-direction: column;
      overflow: hidden;
}

header h3 {
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 1em;
}

header h1 {
    font-size: 3em;
    font-weight: 800;
    padding-bottom: 0.7em;
}

header p {
    line-height: 1.8em;
    width: 80vw;
    margin: auto;
    position: relative;
    z-index: 1;
}

header img.banner-image {
    width: 150%;
    object-fit: contain;
    z-index: -1;
    align-self: center;
}

/* BUTTONS BANNER */

.buttons-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  gap: 10px;
  padding-bottom: 30px;
  padding-top: 2em;
}

/* SQUAD BUTTON */

a.squad {
  background-color: #A675F4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: none;
  align-items: center;
  border-radius: 8px;
  padding: 0.7em 1em 0.7em 1em;
  font-size: 1em;
  font-family: 'Open Sans';
  color: #050542; 
  text-decoration: none;
  gap: 10px;
}

a.squad img {
  width: 15px;
  height: 15px;
}

/* CAMPUS BUTTON */

a.campus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: none;
  height: 55px;
  align-items: center;
  border-radius: 8px;
  padding: 0.7em 1em 0.7em 1em;
  font-family: 'Open Sans';
  font-size: 1em;
  color: #050542; 
  text-decoration: none;
  gap: 10px;
}

a.campus img {
  width: 15px;
  height: 15px;
}

/* Achtergrond kleur en positionering element met alle cards van studenten */
main {
    background-color: var(--dark-blue);
    border-radius: .5em;

    width: 100%;

    text-align: center;
}

/* Vormgeving en positionering zoek balk  */
main input {
    background-color: var(--bright-green);
    border-style: none;
    padding: 1em;
    border-radius: .5em;
    width: 20em;
    margin-top: 3em;

    background-image: url('../assets/julia/svg-icons/search.svg');
    background-repeat: no-repeat;
    background-position: right 1em bottom 1.2em;
    backdrop-filter: invert(5%) sepia(53%) saturate(6239%) hue-rotate(219deg) brightness(91%) contrast(103%);
    background-size: 1.5em;
}

/* Kleur tekst zoekbalk */
input::placeholder {
    color: var(--dark-blue);
}

/* Grid met alle cards */
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    padding-bottom: 3em;

    margin-top: 2em;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24em, 1fr));
    grid-auto-flow: dense;
    row-gap: 2em;
}

/* Vormgeving en positionering van een card met grid */
li {
    font-size: 4px;
    /* 1em is nu ...px */

    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1em 22em 1em;
    grid-template-rows: 6em 15em max-content;

    margin-top: 3em;
    justify-self: center;
    align-self: center;

    position: relative;
}

li {
    font-size: 4px;
}

.main-article article {
    font-size: 5px;
}

/* Naam in card */
li>h3 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;

    background-color: var(--pink-purple);
    margin: 0;
    padding: .5em 1.5em;
    border-radius: 2em;

    justify-self: center;
    align-self: start;

    z-index: 1;

    translate: 0% -50%;
    font-size: 1em;

}

/* Afbeelding in card */
li>img {
    grid-column: 2 / 3;
    grid-row: 1 / 3;

    width: 100%;
    height: 100%;
    object-fit: cover;

    border-style: solid;
    border-color: var(--bright-green);
    border-radius: .5em;
    transform: rotate(90deg);
}

/* Positionering in grid van leeftijd, plaats en motto */
li>p {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    font-size: 1em;
}

/* Vormgeving van afbeeldingen van pijl */
li>a>img {
    filter: invert(5%) sepia(53%) saturate(6239%) hue-rotate(219deg) brightness(91%) contrast(103%);
    width: 1.3em;
}

/* Vormgeving en positionering van leeftijd en plaats */
li>a {
    grid-column: 2/3;
    grid-row: 3/4;

    background-color: var(--bright-green);

    align-self: end;
    justify-self: end;

    padding: .5em;
    margin-bottom: 1.5em;
    margin-right: 1em;
    height: max-content;
    border-radius: 2em;

    width: 2.5em;
    height: 2.5em;

    text-align: center
}

/* Vormgeving leeftijd + icoon */
li>p:nth-of-type(1) {
    margin-top: 10px;
    padding: 10px 20px 20px 15px;
    margin-right: 5px;
    grid-row-start: 3;
    grid-column-start: 2;
    color: #67E5BF;
    line-height: 25px;
}

/* Vormgeving en positionering pijl */
li>p:nth-of-type(1) {
    color: var(--bright-green);

    align-self: center;
    justify-self: start;

    font-size: 1.0em;
    text-align: start;

    margin: 1.3em 0em 2em 0em;
}

/* Border rondom card */
li::before {
    content: "";

    grid-column: 1 / 4;
    grid-row: 2 / 4;

    border-style: solid;
    border-color: var(--bright-green);
    border-width: 1px;
    border-radius: .5em;

    height: 100%;
}

/* Info tags studenten kaartjes */

img.icon-age {
  border: none;
  transform: rotate(0deg);
  object-fit: contain;
  vertical-align: middle;
  padding-right: 5px;
  width: 20px;
  height: 20px;
}

img.icon-map {
  border: none;
  transform: rotate(0deg);
  object-fit: contain;
  vertical-align: middle;
  padding-right: 5px;
  width: 18px;
  height: 18px;
}

span.info p {
  background-color: #67E5BF;
  color: #050542;
  z-index: 5;
  font-size: 14px;
  height: 35px;
  align-items: center;
  padding: 7px 15px 15px 15px;
  border-radius: 30px;
  margin: 0;
}

li span {
  margin-left: 10px;
  margin-top: -20px;
  grid-row-start:3;
	grid-column-start:2;
  display: flex;
  justify-content: row;
  gap: 10px;
}

/* HIER KOMT DE CAMPUS LISTING GRID */

/* Vormgeving en positionering campus card met een grid */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24em, 1fr));
    grid-auto-flow: dense;
}

.grid article {
    justify-self: center;
    margin-bottom: 2em;
}

/* HIER KOMT DE CAMPUS LISTING GRID */

section.campus-listing-grid {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center; 
  padding-bottom: 50px; 
}

section.campus-listing-grid ul {
	margin:0;
	padding: 0;
	list-style-type:none;
}

section.campus-listing-grid li {
  justify-content: center;
	position:relative;
	width:26em;
	padding:2em 1em 1em;
	display:grid;
	grid-template-rows:16em 6em 7em;
	grid-template-columns:1em 21em 1em;
	row-gap:1em;
}

section.campus-listing-grid li::before {
	content:"";
	color:black;
	grid-row-start:2;
	grid-row-end:4;
	grid-column-start:2;
	grid-column-end:3;
	background: #050542;
	border:solid 1px #67E5BF;
	border-radius:1em;
	z-index:1;
} 

section.campus-listing-grid span {
	grid-row-start:1;
	grid-row-end:3;
	grid-column-start:2;
	align-self:start;
	justify-self:left;
	z-index:1;
	background-color: #67E5BF;
  font-family: 'Open Sans';
  font-size: 15px;
	margin-top: 20px;
	padding:.5em 1em;
	border-radius:2em;
}

section.campus-listing-grid img {
	width:100%;
  height: 350px;
	grid-row-start:1;
	grid-column-start:1;
	grid-column-end: 4;
	border:solid 1px black;
	border-radius:1em;
}

section.campus-listing-grid h3 {
	font-size: 25px;
	grid-row-start:2;
	grid-column-start:2;
	z-index:3;
	padding: 20px 20px 20px 20px;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  margin-top: 10px;
}

section.campus-listing-grid p {
	grid-row-start:2;
	grid-column-start:2;
	z-index:3;
	padding: 60px 20px 20px 20px;
  font-family: 'Open Sans regular';
  font-size: 15px;
   color: #ffffff;
   line-height: 25px;
   margin-top: 10px;
}

section.campus-listing-grid li a {
	grid-row-start:3;
	grid-column-start:2;
  align-self: end;
  justify-self: end;
  background: #67E5BF;
  padding: 15px 10px 10px 15px;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin-bottom: 20px;
  margin-right: 20px;
  z-index: 4;
}

section.campus-listing-grid a img {
	height: 20px;
  width: 20px;
  border: none;
}

.campus-listing-grid {
     position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
   
}

.carousel-container {
    width: 100%;
    overflow: hidden;
}

.carousel-list {
    display: flex;
    transition: transform 0.5s ease-in-out;
    list-style: none;
    padding: 0;
    margin: 0;
}

.carousel-list li {
    flex: 0 0 50%; /* Full width per item */
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.carousel-list img {
    max-width: 100%;
    height: auto;
}

/* CAROUSEL BUTTONS PREVIOUS / NEXT */
.carousel-prev, .carousel-next {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    background-color: #050542;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 15px 22px 15px 22px;
 
    cursor: pointer;
    font-size: 24px;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

/* MEDIA QUERY STUDENTENPAGINA */

@media screen and (min-width: 200px) {
    * {
        font-size: 10px;
    }
}

@media screen and (min-width: 250px) {
    * {
        font-size: 12px;
    }
}

@media screen and (min-width: 350px) {
    * {
        font-size: 14px;
    }
}

@media screen and (min-width: 500px) {
    * {
        font-size: 16px;
    }
}

@media screen and (min-width: 1028px) {
    * {
        font-size: 18px;
    }
}

@media screen and (min-width: 200px) {
    li {
        font-size: 5px;
    }
}

@media screen and (min-width: 250px) {
    li {
        font-size: 6px;
    }
}

@media screen and (min-width: 350px) {
    li {
        font-size: 12px;
    }
}

@media screen and (min-width: 500px) {
    li {
        font-size: 14px;
    }
}

@media screen and (min-width: 1028px) {
    li {
        font-size: 16px;
    }
}

@media screen and (min-width: 1028px) {
    li {
        font-size: 16px;
    }
}

@media screen and (min-width: 200px) {
    .main-article article {
        font-size: 5px;
    }
}

@media screen and (min-width: 250px) {
    .main-article article {
        font-size: 8px;
    }
}

@media screen and (min-width: 350px) {
    .main-article article {
        font-size: 12px;
    }
}

@media (min-width: 500px) {
    .main-article article {
        font-size: 14px;
    }
}

@media (min-width: 1028px) {
    .main-article article {
        font-size: 16px;
    }
}

/* nav buttons sizing */

@media screen and (min-width: 510px) {
   nav a.button-studenten {
    margin-left: -4em;
}
}

/* banner image studenten pagina */

@media (min-width: 600px) {
    header img.banner-image  {
    width: 75%;
    }
}

/* header studenten pagina */

@media (min-width: 600px) {
    header {
    padding-top: 40px;
    overflow:auto;
    }
}

@media (min-width: 1000px) {
    header p {
    width: 700px;
    }
}

@media (max-width: 600px) {
    header p {
    width: 600px;
    }
}

@media (max-width: 600px) {
    header p {
    width: 80%;
    }
}

@media screen and (min-width: 510px) {
   .buttons-banner {
    flex-direction: row;
}
}

/* CAROUSEL CAMPUS */
@media screen and (min-width: 768px) {
  .carousel-list li {
     flex: 0 0 33.33%; /* 3 items per row on larger screens */
  }
}

/* media query campus */

/* banner image studenten pagina */

@media (min-width: 600px) {
    header.campus {
    padding-top: 40px;
    overflow:auto;
    }
}

@media (min-width: 1000px) {
    header.campus p {
    width: 700px;
    }
}

@media (max-width: 600px) {
    header.campus p {
    width: 600px;
    }
}

@media (max-width: 600px) {
    header.campus p {
    width: 80%;
    }
}

@media (min-width: 600px) {
    header.campus img  {
    width: 80%;
    }
}

/* HIER BEGINT DE CAMPUS */

body.campus {
    background-color: var(--dark-blue);
}

/* Navigatie balk die opdezelfde plek blijft staan + grid */
nav.campus {
    background-color: var(--bright-green);
    border-radius: .5em;
    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr .1fr;
    gap: 1em;
    position: sticky;
    top: 13px;
    z-index: 2;
    margin: 15px 15px 40px 15px;
}

/* Logo */
nav.campus a.hva-logo {
    grid-column: 1;
    align-self: center;
    justify-self: center;
}

/* Logo afmetingen van afbeelding */
nav.campus a.hva-logo img {
    width: 3.5em;
    filter: invert(77%) sepia(82%) saturate(281%) hue-rotate(98deg) brightness(97%) contrast(85%);
    margin-left: 0.5em;
    margin-bottom: -0.5em;
}

/* Vormgeving link studenten en campus */
span.buttons-nav {
    text-decoration: none;
    color: var(--dark-blue);
    font-weight: 650;
    font-size: .5em;
    padding: 1em 1em;
    height: 80%;
    gap: 10px;
    display: flex;
}


/* Afmeting link studenten en campus */
nav.campus span.buttons-nav .button-studenten img {
    filter: invert(100%) sepia(1%) saturate(3%) hue-rotate(124deg) brightness(103%) contrast(100%);
    width: 1.3em;
    margin-right: .5em;
}

/* Vormgeving link studenten */
nav.campus a.button-studenten {
    background-color: var(--dark-blue);
    color: #ffffff;
    border-radius: .4em;
    grid-column: 2;
    align-self: center;
    justify-self: center;
    /* width: 100%; */
    text-align: center;
    text-decoration: none;
    padding: 0.7em 1em 0.7em 1em;
    font-size: 1.8em;
    align-items: center;
    margin-left: 0em;
}

/* Vormgeving link campus */
nav.campus a.button-campus {
    background-color: var(--pink-purple);
    border-radius: .4em;
    grid-column: 2;
    align-self: center;
    justify-self: center;
    /* width: 100%; */
    text-align: center;
    text-decoration: none;
    padding: 0.7em 1em 0.7em 1em;
    font-size: 1.8em;
    align-items: center;
}

span.buttons-nav{
    margin: auto;
}

/* Vormgeving en positionering header campus */
header.campus {
    text-align: center;
    line-height: 2em;
    display: flex;
    flex-direction: column;
      overflow: hidden;
}

header.campus h3 {
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 1em;
    color: #ffffff;
}

header.campus h1 {
    font-size: 3em;
    font-weight: 800;
    padding-bottom: 0.7em;
    color: #ffffff;
}

header.campus p {
    line-height: 1.8em;
    width: 80vw;
    margin: auto;
    position: relative;
    z-index: 1;
    color: #ffffff;
}

header.campus img {
    width: 150%;
    object-fit: contain;
    z-index: -1;
    align-self: center;
}

/* Vormgeving en positionering campus elementen */
.main-article h3 {
    font-weight: 300;
    text-transform: uppercase;
}

.main-article h2 {
    font-size: 2em;
    font-weight: 800;
}

.main-article a {
    font-size: 1.3em;
    margin-top: 2em;
}

.main-article a img {
    width: 1.5em;
    margin-left: 1em;
}

.main-article {
    /* display: flex; 
    flex-direction: column;
    align-items: center; */

    line-height: 1em;
    text-align: center;

    margin-top: 2em;

}

/* HIER KOMT DE CAMPUS LISTING */

ul.campus-grid-page {
  justify-content: center;
  display: grid;
  flex-direction: row;
grid-template-columns: repeat( auto-fit, minmax(380px, 1fr) );
}

.campus-container {
   width: 100%;
    overflow: hidden;
  
}

section.campus-page-listing-grid {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center; 
  padding-bottom: 50px; 
}

section.campus-page-listing-grid ul {
	margin:0;
	padding: 0;
	list-style-type:none;
}

section.campus-page-listing-grid li {
  justify-content: center;
	position:relative;
	width:26em;
	padding:2em 1em 1em;
	display:grid;
	grid-template-rows:16em 6em 7em;
	grid-template-columns:1em 21em 1em;
	row-gap:1em;
}

section.campus-page-listing-grid li::before {
	content:"";
	color:black;
	grid-row-start:2;
	grid-row-end:4;
	grid-column-start:2;
	grid-column-end:3;
	background: #050542;
	border:solid 1px #67E5BF;
	border-radius:1em;
	z-index:1;
} 

section.campus-page-listing-grid span {
	grid-row-start:1;
	grid-row-end:3;
	grid-column-start:2;
	align-self:start;
	justify-self:left;
	z-index:1;
	background-color: #67E5BF;
  font-family: 'Open Sans';
  font-size: 15px;
	margin-top: 20px;
	padding:.5em 1em;
	border-radius:2em;
}

section.campus-page-listing-grid img {
	width:100%;
  height: 350px;
	grid-row-start:1;
	grid-column-start:1;
	grid-column-end: 4;
	border:solid 1px black;
	border-radius:1em;
}

section.campus-page-listing-grid h3 {
	font-size: 25px;
	grid-row-start:2;
	grid-column-start:2;
	z-index:3;
	padding: 20px 20px 20px 20px;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  margin-top: 10px;
}

section.campus-page-listing-grid p {
	grid-row-start:2;
	grid-column-start:2;
	z-index:3;
	padding: 60px 20px 20px 20px;
  font-family: 'Open Sans regular';
  font-size: 15px;
   color: #ffffff;
   line-height: 25px;
   margin-top: 10px;
}

section.campus-page-listing-grid li a {
	grid-row-start:3;
	grid-column-start:2;
  align-self: end;
  justify-self: end;
  background: #67E5BF;
  padding: 15px 10px 10px 15px;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin-bottom: 20px;
  margin-right: 20px;
  z-index: 4;
}

section.campus-page-listing-grid a img {
	height: 20px;
  width: 20px;
  border: none;
}

.campus-page-listing-grid {
     position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
   
}

.carousel-container {
    width: 100%;
    overflow: hidden;
}

.carousel-list {
    display: flex;
    transition: transform 0.5s ease-in-out;
    list-style: none;
    padding: 0;
    margin: 0;
}

.campus-grid-page li {
    flex: 0 0 50%; /* Full width per item */
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.campus-grid-page img {
    max-width: 100%;
    height: auto;
}

